.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  width: 100%;
  .post {
    padding: 10px 0;
    padding-top: 20px;

    .postImg {
      width: 100%;
      max-width: 100%;
    }

    .text {
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    padding: 0 !important;
    margin-top: 20px;
    max-width: 100%;

    .post {
      padding: 10px 0;
      padding-top: 20px;
      width: 100%;
      .postImg {
        width: 100%;
        max-width: 100%;
      }

      .text {
        padding: 0 5px;
      }
    }
  }
}
