.reactions {
  left: -40px;
  position: absolute;
  border-radius: 90px;
  background: white;
  transition: 0.3s;
  z-index: 1;
  display: flex;
  align-items: center;
  top: -20px;
  user-select: none;

  img {
    width: 40px;
    transition: 0.2s ease;
    background: transparent;
    user-select: none;
  }

  img:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}
